
body{  
    background-color: #F9F9F0;
    margin:0px;
   
}
header{
    background-color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 1px;
    padding-left: 20px;
   
    width:100%;
    display:flex;
    flex-direction: row;


    align-items:center;
   
   
   
    




}
.card {
    border-radius: 20px;
    width: 350px;
    height: auto;
   
    background-color: #ffffff;
    display:flex;
    flex-direction: column;  /*hethii mouhmaa blch biha lkol yls9 fib3thou header w middle w bottom mt3 l card*/
     gap:5px;
    padding: 25px;
    margin: 20px;


}
.card-header{
    display: flex;
    justify-content: space-between;
    
   

}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.logotext-header{
    display: flex;
    justify-content: center;
    


}
.loc{
     width: 20px;
    height: 20px;
    border-radius: 20px;

}
.pers{
    width: 30px;
    height: 25px;

}
.nom-header{
    font-weight: bold;
    padding-left: 20px;
}

.localisation-identif{
    display: flex;
    padding: 2px;


}
.text-header{
    margin: 10px;
}
.color{
    color: grey;
}
.card-middle{
    background-color:rgba(240, 240, 240, 0.684);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    
}
.numero-gras{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

    /*flex-direction: row (Ligne) : Les éléments se mettent les uns à côté des autres (gauche à droite). C'est le sens de la lecture.

     flex-direction: column (Colonne) : Tu forces les éléments à se mettre les uns en dessous des autres.
*/
}
.text2-middle{
   
    font-weight: bold;
    font-size: 20px;
   

}
.personnes-file{
    /*hethii m3b3thhhaa rtblk tnsaa align itemss bch yjik centrerr text */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    border-radius: 25px;
    background-color: aliceblue;
    height: 45px;
    
}

.btn{
    color: red;
    font-weight: bold;
    
 /* hethomm pour centraliserr le bouton*/
    display: block;    /* Important : permet d'utiliser margin auto */
    margin: 20px auto; /* Centre horizontalement */
    
    /*toufaa hnee*/
    background-color:transparent;


    border:none;
    
    
}
.btn-header{
    color: red;
    font-weight: bold;
}
footer{
    padding: 20px ;
    text-align: center;
    padding-left: 0;
    /* hethomm bch tt7att l footerr fi b93thaa ki tbda l page fr8aa*/
   
    
    width: 100%;
    bottom: 0;
    position: fixed;/*hethi m3neha tsyblha l position mt3ha bch t5liha flexible pour autre changemnt*/

}
.bout{
    border-radius: 25px;
    height: 20px;
    font-weight: bold;
    color:black;
    
   
    border: black;
    background-color: rgb(207, 217, 226);
    width: fit-content;
    margin-right: 50px;
    


    
    
}
main{
    
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
